<div class="contact-wrapper">
    <div class="contact-container">
      <h2 class="section-heading">Contacto</h2>
      <p class="section-subtitle">Entra em contacto comigo através do formulário ou das redes sociais.</p>
  
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        <div class="form-group">
          <label for="name">Nome</label>
          <input id="name" type="text" formControlName="name" required />
        </div>
      
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" required />
        </div>
      
        <div class="form-group">
          <label for="message">Mensagem</label>
          <textarea id="message" formControlName="message" rows="5" required></textarea>
        </div>
      
        <button type="submit">Enviar</button>
      </form>
      
  
      <div class="contact-socials">
        <p>Podes também contactar-me pelas redes sociais:</p>
        <div class="icons">
          <a href="https://linkedin.com/in/seu-username" target="_blank">
            <mat-icon>linkedin</mat-icon>
          </a>
          <a href="mailto:teu@email.com">
            <mat-icon>email</mat-icon>
          </a>
          <a href="https://github.com/seu-username" target="_blank">
            <mat-icon>code</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  