<section class="landing-wrapper">
    <div class="particles-background">
        <div class="particle" 
        *ngFor="let p of particles" 
        [ngStyle]="{
            'left': p.left + 'vw',
            'top': p.top + 'vh',
            'animation-delay': p.delay + 's',
            'animation-duration': p.duration + 's'
          }">
   </div>
    </div>
  
    <div class="overlay">
      <h1 class="fade-in">{{ currentText }}</h1>
      <p class="fade-in delay-1">Full-stack Developer focado em Angular, Java e engenharia de software.</p>
      <button class="cta-button fade-in delay-2" [routerLink]="[url]">Explorar Portfólio</button>
    </div>
  </section>
  