section {
    margin-bottom: 48px;
    padding: 16px;
  }
  
  h2{
    text-align: center;
  }
  .featured-projects .project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .project {
    width: 300px;
  }